.video-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-left: 50px;
    padding-bottom: 30px;
}
.contentV1{
    padding-left: 30px;
    padding-right: 25px;
}
.video1{
    padding-bottom: 30px;
}
